[submodule "week1"]
	path = week1
	url = https://github.com/stdiodh/1week_REST_CRUD.git
	branch = main
[submodule "week2"]
	path = week2
	url = https://github.com/stdiodh/kotlin_Spring_Data_JPA
	branch = main
[submodule "week3"]
	path = week3
	url = https://github.com/stdiodh/kotlin_Spring_Security
	branch = main
[submodule "week4"]
	path = week4
	url = https://github.com/stdiodh/kotlin_Spring_Security
	branch = main
